NODE_ENV=production

# OTEL Collector - gRPC (traces e metrics)
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:14317

# OTEL Collector - HTTP (logs)
OTEL_EXPORTER_OTLP_HTTP_ENDPOINT=http://localhost:14318

# Loki (logs direto via Winston, sem passar pelo Collector)
LOKI_HOST=http://localhost:3100

# Identificação do serviço
OTEL_SERVICE_NAME=my-nestjs-app

PORT=3000
